@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-dark: 29 26 26;
    --color-yellow: 228 222 26;
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--color-dark));
}

img, svg {
  pointer-events: none;
  user-select: none;
}
